img {
    border: 2px solid #fd6106;
    border-radius: 50%;
}

button.del {
    float: right;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

button.del img{
    border: none;
}

span.name {
    color: #FFF;
    font-size: 22px;
    margin: 10% 0 26% 0;
    float: left;
    text-align: center;
    width: 100%;
}